<a href="https://colab.research.google.com/github/Tanveer132/Ensemble-learning-in-ML/blob/main/FST_Assignment_Gradient_Boosted_Tree_Reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Gradient Boosted Tree regression 

data - power consumption data

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,r2_score

from sklearn.ensemble import GradientBoostingRegressor

In [6]:
df=pd.read_csv('/content/PJME_hourly.csv',parse_dates=True,index_col='Datetime')
df.head()

                     PJME_MW
Datetime
2002-12-31 01:00:00    26498
2002-12-31 02:00:00    25147
2002-12-31 03:00:00    24574
2002-12-31 04:00:00    24393
2002-12-31 05:00:00    24860

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145366 entries, 2002-12-31 01:00:00 to 2018-01-02 00:00:00
Data columns (total 1 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   PJME_MW  145366 non-null  int64
dtypes: int64(1)
memory usage: 2.2 MB

In [13]:
train=df.loc['2002-12-31':'2013-12-31',:]
test=df.loc['2013-12-31':'2018-01-02',:]

train.shape,test.shape

((96433, 1), (35136, 1))

In [14]:

scaler=StandardScaler()
sctrain=scaler.fit_transform(train)
sctest=scaler.fit_transform(test)

In [15]:
def featureTransform(n_steps,data):
  x=[]
  y=[]
  for i in range(n_steps,len(data)):
    x.append(data[i-n_steps:i,0])
    y.append(data[i,0])
  x,y=np.array(x),np.array(y)
  return x,y

In [16]:
#Train data

n_steps=8

xtrain,ytrain=featureTransform(n_steps,sctrain)

xtrain.shape,ytrain.shape

((96425, 8), (96425,))

In [18]:
#Test data

n_steps=8

xtest,ytest=featureTransform(n_steps,sctest)

xtest.shape,ytest.shape

((35128, 8), (35128,))

In [21]:
model=GradientBoostingRegressor(n_estimators=100,learning_rate =0.1,criterion='mse',max_depth=3)
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [22]:
pd.DataFrame({"Actual":ytest,"Predicted":ypred})

         Actual  Predicted
0      0.681424   0.722982
1      0.704898   0.712791
2      0.719139   0.687151
3      0.684554   0.732823
4      0.570313   0.629928
...         ...        ...
35123  2.029776   1.957545
35124  1.946365   1.952090
35125  1.735254   1.821706
35126  1.385021   1.598098
35127  1.141516   1.111316

[35128 rows x 2 columns]

In [25]:
r2_score(ytest,ypred)

0.9753857277650263

**Conclusion :** here we got the accuracy of 0.9753857277